Package: man-db
Name: man-db
Priority: important
Section: System
Version: 2.7.5-2
Architecture: iphoneos-arm
Depends: libpipeline, groff
Provides: man, org.thebigboss.man-db
Conflicts: man, org.thebigboss.man-db
Homepage: http://man-db.nongnu.org
Maintainer: Andrew Hyatt <ahyattdev@icloud.com>
Author: Colin Watson <cjwatson>
Description: on-line manual pager
 man-db is an implementation of the standard Unix documentation system
 accessed using the man command. It uses a Berkeley DB database in
 place of the traditional flat-text whatis databases.
 .
 Compiled for armv7, armv7s, and arm64 devices
